/* File: client/src/components/calendar/Calendar.css */
.calendar-container {
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.calendar-header-custom {
  padding: 20px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
